/* HEADER ****************************************/

.section-header {
    height: 100vh;
    max-height: 960px;
    margin: 0;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.header-bg {
    background-image: url(./img/jpeg/header.jpeg);
    width: 100vw;
    height: 100vh;
    max-height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* NAVBAR ****************************************/

.topbar {
    background-color: #00467f;
    height: 10%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 1;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40vh;
    max-width: 300px;
    max-height: 300px;
}

nav {
    width: 1060px;
}

.navbar {
    height: 66%;
    background-color: #00467f;
    width: 1060px;
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto 20% auto auto;
    justify-items: center;
    align-items: auto;
}

.navbar-sticky {
    background-color: #00467f;
    width: 100vw;
    height: 60;
    grid-template-columns: auto auto auto auto;
}

.nav-link-container {
    text-align: center;
    width: 212px;
}

.nav-link {
    font-size: 36px;
    color: #f8db0c;
    padding: 7px;
    position: relative;
    z-index: 10;
}

.nav-link:hover .nav-link-border {
    position: absolute;
    top: 5%;
    left: -5%;
    width: 110%;
    height: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/svg/Ornamental-Border-Small.svg);
    z-index: 5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f8db0c;
}

/* MENU SECTION ****************************************/

.section-menu {
    background-color: #dcdcdc;
    width: 100vw;
    text-align: center;
    height: 100%;
}

/* DELIVERY SECTION ****************************************/

.section-delivery {
    background-color: #dcdcdc;
    width: 100vw;
    text-align: center;
    text-justify: center;
    height: 100%;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1060px;
}

.badge {
    height: 80px;
    margin: 20px;
}

.badge a img {
    width: auto;
    max-width: 300px;
    max-height: 100%;
}

/* GALLERY SECTION ****************************************/

.section-gallery {
    background-color: #f8db0c;
    width: 100vw;
    text-align: center;
    height: 100%;
}

.gallery-border {
    width: 1000px;
    height: 1000px;
    background-image: url(img/svg/Ornamental-Border-Circle-Large.svg);
    background-size: 100%;
    background-position: center;
    background-color: #dcdcdc;
    border: 10px solid transparent;
    border-style: hidden;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.gallery-container {
    width: 640px;
    height: 640px;
    background-color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* UTILITIES ****************************************/

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.text-content {
    font-size: 26px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.u-margin-top-large {
    margin-top: 10rem;
}

.u-margin-top-medium {
    margin-top: 6rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-bottom-large {
    margin-bottom: 10rem;
}

.u-margin-bottom-medium {
    margin-bottom: 6rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.heading {
    height: 10vh;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

h2 {
    font-size: 60px;
    color: #00467f;
    padding: 15px 20px;
    position: relative;
    margin: auto;
}

.heading-container {
    min-width: 425px;
}

.heading-border {
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 200%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/svg/Ornamental-Border-Medium.svg);
}

.greek-border {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://web.resource.org/cc/' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:svg='http://www.w3.org/2000/svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:ns1='http://sozi.baierouge.fr' xmlns:xlink='http://www.w3.org/1999/xlink' id='svg2' viewBox='0 0 128.38 82.048' version='1.0' inkscape:version='0.91 r13725'%3E%3Cg id='layer1' transform='translate(-164.21 -610.59)'%3E%3Cpath id='path2178' style='stroke:%23ffffff;stroke-linecap:square;stroke-width:15.72;fill:none' d='m172.07 684.78l0.31-66.19 96.97-0.14 0.16 32.79-62.72-0.17-0.07 33.75h78.01'/%3E%3C/g%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Ccc:license rdf:resource='http://creativecommons.org/licenses/publicdomain/'/%3E%3Cdc:publisher%3E%3Ccc:Agent rdf:about='http://openclipart.org/'%3E%3Cdc:title%3EOpenclipart%3C/dc:title%3E%3C/cc:Agent%3E%3C/dc:publisher%3E%3Cdc:title%3EMeander Geometric%3C/dc:title%3E%3Cdc:date%3E2010-04-14T22:53:43%3C/dc:date%3E%3Cdc:description%3EBorder decoration often found on antic pottery%3C/dc:description%3E%3Cdc:source%3Ehttps://openclipart.org/detail/47137/meander-geometric-by-hextrust%3C/dc:source%3E%3Cdc:creator%3E%3Ccc:Agent%3E%3Cdc:title%3Ehextrust%3C/dc:title%3E%3C/cc:Agent%3E%3C/dc:creator%3E%3Cdc:subject%3E%3Crdf:Bag%3E%3Crdf:li%3EDecoration%3C/rdf:li%3E%3Crdf:li%3Eborder%3C/rdf:li%3E%3Crdf:li%3Egreek%3C/rdf:li%3E%3Crdf:li%3Emäander%3C/rdf:li%3E%3Crdf:li%3Epattern%3C/rdf:li%3E%3Crdf:li%3Eurn%3C/rdf:li%3E%3C/rdf:Bag%3E%3C/dc:subject%3E%3C/cc:Work%3E%3Ccc:License rdf:about='http://creativecommons.org/licenses/publicdomain/'%3E%3Ccc:permits rdf:resource='http://creativecommons.org/ns%23Reproduction'/%3E%3Ccc:permits rdf:resource='http://creativecommons.org/ns%23Distribution'/%3E%3Ccc:permits rdf:resource='http://creativecommons.org/ns%23DerivativeWorks'/%3E%3C/cc:License%3E%3C/rdf:RDF%3E%3C/metadata%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: right center;
    min-width: 100%;
    overflow: hidden;
    height: 66%;
    z-index: 5;
}

.left {
    background-position: right center;
}

.right {
    background-position: left center;
}

/* MEDIA QUERIES ****************************************/

@media only screen and (max-width: 1000px) {
    .navbar {
        min-width: 100vw;
        max-width: 100vw;
    }
}

/* ANIMATION ****************************************/

.nav-link:hover .flip-in-hor-bottom {
    -webkit-animation: flip-in-hor-bottom 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-6 17:1:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}
