@font-face {
    font-family: 'Adonais';
    src: url(./fonts/Adonais.ttf) format('ttf');
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Adonais';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h5 {
    font-size: 30px;
    color: #00467f;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333333;
}
