@font-face {
  font-family: 'Adonais';
  src: url(./fonts/Adonais.ttf) format('ttf');
}

h1, 
h2, 
h3 {
  margin: 0;
  font-family: 'Adonais';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
}
